
.tw-followCard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;
}


.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;

}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-infoUserName {
  opacity: .6;
}

.tw-followCard-avatar {
  width: 40px;
  height: 40px;
  border-radius: 1000px;
}

.tw-followCard-button {
  cursor: pointer;
  color: #0e0d0d;
  background-color: #f5eeee;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid #000;
  transition: .3s ease background-color
}

.tw-followCard-button:hover  {
  opacity: .8;
}

.tw-followCard-text{
  display: block;
}

.tw-followCard-button.is-following {
  border: 1px solid #bbb;
  background: transparent;
  color: #f5eeee;
  width: 140px;
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
 display: none;
}


.tw-followCard-button.is-following:hover {
  background-color: rgb(131, 77, 77);
  color: red;
  border: 1px solid red;
}



.tw-followCard-stopFollowing {
  display: none;

}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollowing {
  display: block;
}